<%= form_for(user) do |f| %>

    <% if user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <div ><%= f.text_field :first_name, placeholder: "Name", style: "background-color: transparent; width: 500px; height: 20px; color: black; font-family: 'Bungee'; font-size: 20px; border: none;, border-left: 1px; border-left-style: solid;" %></div>
    </div>


    <div class="field">
      <div ><%= f.text_field :email, placeholder: "Email", style: "background-color: transparent; width: 500px; height: 20px; color: black; font-family: 'Bungee'; font-size: 20px; border: none;, border-left: 1px; border-left-style: solid;" %></div>
    </div>

    <div class="field">
      <div ><%= f.text_field :password, placeholder: "Password", style: "background-color: transparent; width: 500px; height: 20px; color: black; font-family: 'Bungee'; font-size: 20px; border: none;, border-left: 1px; border-left-style: solid;" %></div>
    </div>

    <div class="field">
      <div ><%= f.text_field :password_confirmation, placeholder: "Confirm Password", style: "background-color: transparent; width: 500px; height: 20px; color: black; font-family: 'Bungee'; font-size: 20px; border: none;, border-left: 1px; border-left-style: solid;" %></div>
    </div>

    <div class="actions">
      <%= f.submit 'Next', class: "button-secondary" %>
    </div>
  <% end %>
