
<div class="result-wrapper col-md-8 col-md-offset-1 ">
  <table class="table table-filter">
    <tbody>
      <tr>
        <td>
          <div class="media">

                <div class="col-md-2 floater">
                  <div><%= link_to image_tag('https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg'), @user, :class=>"pull-left"%></div>
                </div>
                <div class="icon-bar col-md-2 update">
                  <% if current_user == @user %>
                    <div class="contact-link"><%= link_to 'Update Profile', edit_user_path(@user) %></div>
                  <% else %>
                    <div class="contact-link"><%= link_to image_tag("LinkedIn"), edit_user_path(@user) %></div>
                  <% end %>
                </div>


            <div class="col-md-10">
              <div class="name-title"><%= "#{@user.first_name} #{@user.last_name}" %></div>
              <div class="coffee-title"><%= @user.coffee_title %></div>
              <div class="headers">Description</div>
              <div class="about-me"><%= @user.about_me%></div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<div class="result-wrapper col-sm-4 ">
  <table class="table table-filter">
    <tbody>
      <tr>
        <td>
          <div class="media">
            <div class="col-md-10">
              <div class="headers">Projects</div>
              <% current_user.projects.each do |p| %>
                <h4><%= link_to p.title, user_project_path(@user, p) %></h4>
                <hr />
              <% end %>
              <p><%= link_to 'Add a Project', new_user_project_path(@user) %></p>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<style>


    .update{
        top: 50px;
    }

    .contact-link{
        font-size: 15px;
        font-family: 'Helvetica';
        padding-top: 10px;

    }

    .headers{
        font-size: 25px;
        font-family: 'Helvetica';
        padding-top: 10px;
    }

    .name-title{
        font-size: 25px;
        font-family: 'Helvetica';
        padding-top: 15px;
    }

    .coffee-title{
        font-size: 16px;
        font-family: 'Helvetica';
        padding-top: 5px;
    }

    .about-me{
        font-size: 15px;
        font-family: 'Helvetica';
        padding-top: 10px;
    }
    /*Profile Picture Movement Up*/
    .col-md-2{
        margin-right: 50px;

    }

    /*About Me Movement Down*/
    .col-md-10 > h4{
        margin-top: 30px;
    }

    .col-md-offset-1 {
        margin-left: 5%;
    }

    .col-md-8 {
        width: 50%;
        top: 90px;
    }

    .col-sm-4 {
        width: 33.333%;
        margin-left: 6%;
        top: 90px;
    }

</style>
