
    <div class="page-header", id="new-field-text">
         <div class="jumbotron" style="margin-bottom: 0; ">
             <br>
             <div ><%=  @project.title %></div>
             <hr>
        </div>
    </div>

    <div class="leftContainer">
        <br>
        <div class="panel panel-default">
          <div class="panel-heading">
               <h3 class="panel-title">Description</h3>
          </div>
            <div ><%=  @project.description %></div>
        </div>
        <hr>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Resources</h3>
          </div>
            <div ><%= @project.tools %></div>
        </div>
    </div>



    <div class="rightContainer">
        <hr>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Media</h3>
          </div>

        </div>
    </div>
    <h3 class="button-title" style="display: inline-block; margin-right: 15px;"><%= link_to 'Back', user_path(current_user)%></h3>
    <h3 class="button-title" style="display: inline-block; margin-right: 15px;"><%= link_to 'Edit', edit_user_project_path(current_user, @project)%></h3>
